* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(to right, #eef7ff, #ffffff);
}

.app {
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 70px;
  background: white;
  box-shadow: 0 2px 15px rgba(0,0,0,0.08);
}

.navbar h2 {
  color: #1565c0;
}

.nav-links {
  display: flex;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: #444;
  font-weight: 600;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #1565c0;
}

.hero {
  text-align: center;
  padding: 90px 20px;
}

.hero h1 {
  font-size: 58px;
  color: #1565c0;
  margin-bottom: 20px;
  line-height: 1.2;
}

.hero p {
  font-size: 22px;
  color: #555;
  max-width: 750px;
  margin: auto;
  line-height: 1.6;
}

.buttons {
  margin-top: 40px;
}

button {
  padding: 15px 34px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  margin: 10px;
  transition: all 0.3s ease;
}

.primary {
  background: #1565c0;
  color: white;
  border: none;
}

.primary:hover {
  background: #0d47a1;
  transform: translateY(-3px);
}

.secondary {
  background: white;
  color: #1565c0;
  border: 2px solid #1565c0;
}

.secondary:hover {
  background: #1565c0;
  color: white;
  transform: translateY(-3px);
}

.features {
  padding: 80px 60px;
  background: #ffffff;
  text-align: center;
}

.features h2 {
  font-size: 40px;
  color: #1565c0;
  margin-bottom: 50px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  background: #f8fbff;
  width: 320px;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 14px 30px rgba(21,101,192,0.15);
}

.card h3 {
  font-size: 24px;
  color: #1565c0;
  margin-bottom: 15px;
}

.card p {
  color: #555;
  line-height: 1.6;
  font-size: 17px;
}

.upload {
  padding: 90px 20px;
  text-align: center;
  background: #eef7ff;
}

.upload h2 {
  font-size: 40px;
  color: #1565c0;
  margin-bottom: 20px;
}

.upload p {
  font-size: 20px;
  color: #555;
  max-width: 700px;
  margin: auto;
  line-height: 1.6;
}

.upload-box {
  margin: 50px auto;
  max-width: 650px;
  padding: 50px;
  border: 3px dashed #1565c0;
  border-radius: 20px;
  background: white;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
}

.upload-box:hover {
  transform: translateY(-6px);
  box-shadow: 0 16px 35px rgba(21,101,192,0.15);
}

.upload-icon {
  font-size: 60px;
  margin-bottom: 20px;
}

.upload-box p {
  margin-bottom: 25px;
  font-size: 18px;
}

.file-info {
  margin-top: 20px;
  color: #777;
  font-size: 15px;
}