* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(to right, #eef7ff, #ffffff);
}

.app {
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 70px;
  background: white;
  box-shadow: 0 2px 15px rgba(0,0,0,0.08);
}

.navbar h2 {
  color: #1565c0;
}

.nav-links {
  display: flex;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: #444;
  font-weight: 600;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #1565c0;
}

.hero {
  text-align: center;
  padding: 90px 20px;
}

.hero h1 {
  font-size: 58px;
  color: #1565c0;
  margin-bottom: 20px;
  line-height: 1.2;
}

.hero p {
  font-size: 22px;
  color: #555;
  max-width: 750px;
  margin: auto;
  line-height: 1.6;
}

.buttons {
  margin-top: 40px;
}

button {
  padding: 14px 30px;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  transition: 0.3s;
}

.primary {
  background: #1565c0;
  color: white;
  border: none;
}

.primary:hover {
  background: #0d47a1;
}

.secondary {
  background: white;
  color: #1565c0;
  border: 2px solid #1565c0;
}

.secondary:hover {
  background: #1565c0;
  color: white;
}